.animated-logo-container {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;

  transform: scale(0);
  animation: popUp 1s ease forwards;
  animation-delay: .4s;
}

.animated-logo-container .logo {
  position: absolute;
  z-index: 2;
}

.animated-logo-container .base-logo {
  width: 100%;
}

@media (max-width: 490px) {
  .animated-logo-container {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%;
  }

  .animated-logo-container .logo {
    z-index: 1;
  }

  .animated-logo-container .base-logo {
    height: 100%;
    z-index: 0;
  }
}

@keyframes popUp {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(.95);
  }
}
